* {
	margin:0;
	padding:0;
}
html,body{
	height:100%;
	width:100%;
	margin:0;
	background-color: #ddd;
	font-family: 'Open Sans', sans-serif;
}
a{
	color: #10bb10;
	font-weight: 600;
}
a:active{
	text-decoration: none;
}
a:visited{
	color: #558d55;
}
h1,h2,h3,h4,h5{
	color: #10bb10;
	margin-top: 0.83em;
	margin-bottom: 0.3em;
}

.title {
	margin-top: 0;
}
.title a{
	text-decoration: none;
}
.title a:visited{
	color: #10bb10;
}

.wrapper {
	max-width: 900px;
	margin: 0px auto 0px auto;
}
.post {
	cursor: pointer;
	float: left;
	width: calc(50% - 18px);
	padding: 5px;
	border: 1px solid black;
	margin: 3px;
	background-color: #fff;
}
.post-full {
	width: 100%;
}
.post .post-title {
	border-bottom: 1px solid black;
	margin-bottom: 3px;
}
.post .post-title a {
	text-decoration: none;
	font-size: 1.5em;
}
.post .post-content p {
	margin-bottom: 0.2em;
}
